In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
import plotly
%matplotlib inline

In [60]:
all_data = pd.DataFrame()
for i in range(1,32,1):
    case_path = f'../save/BP032/Step_1/test/case{i} test loss.csv'
    case_data = pd.read_csv(case_path,index_col=0)
    case_data.insert(0,'CASE',f'CASE_{i}')
    all_data = all_data.append(case_data,True)

In [61]:
all_data

,CASE,EPOCH,t_1,t_2,t_3,t_4,t_5,t_6,t_7,t_8,...,t_63,t_64,t_65,t_66,t_67,t_68,t_69,t_70,t_71,t_72
0,CASE_1,10,0.0407,0.0530,0.0644,0.0776,0.0943,0.1140,0.1279,0.1342,...,0.6909,0.7015,0.7121,0.7230,0.7336,0.7440,0.7544,0.7648,0.7753,0.7861
1,CASE_1,20,0.0377,0.0491,0.0596,0.0712,0.0862,0.1042,0.1169,0.1226,...,0.5808,0.5897,0.5986,0.6077,0.6168,0.6257,0.6348,0.6439,0.6533,0.6631
2,CASE_1,30,0.0377,0.0488,0.0593,0.0708,0.0851,0.1026,0.1146,0.1195,...,0.6115,0.6227,0.6338,0.6451,0.6563,0.6672,0.6782,0.6891,0.7000,0.7111
3,CASE_1,40,0.0362,0.0473,0.0576,0.0689,0.0829,0.1001,0.1122,0.1173,...,0.5831,0.5927,0.6022,0.6118,0.6212,0.6302,0.6393,0.6484,0.6577,0.6672
4,CASE_1,50,0.0343,0.0442,0.0538,0.0646,0.0782,0.0947,0.1064,0.1116,...,0.5904,0.6005,0.6109,0.6219,0.6331,0.6446,0.6567,0.6689,0.6813,0.6939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6195,CASE_31,1960,0.0031,0.0032,0.0031,0.0029,0.0040,0.0057,0.0082,0.0120,...,0.2683,0.2692,0.2703,0.2714,0.2725,0.2735,0.2744,0.2754,0.2763,0.2770
6196,CASE_31,1970,0.0031,0.0039,0.0039,0.0035,0.0045,0.0066,0.0098,0.0142,...,0.3253,0.3303,0.3353,0.3404,0.3455,0.3503,0.3549,0.3589,0.3627,0.3661
6197,CASE_31,1980,0.0031,0.0034,0.0034,0.0031,0.0039,0.0057,0.0084,0.0121,...,0.2369,0.2366,0.2365,0.2367,0.2370,0.2374,0.2380,0.2387,0.2395,0.2403
6198,CASE_31,1990,0.0031,0.0031,0.0029,0.0028,0.0039,0.0055,0.0076,0.0110,...,0.3744,0.3801,0.3859,0.3918,0.3977,0.4036,0.4095,0.4154,0.4213,0.4270
6199,CASE_31,2000,0.0029,0.0035,0.0035,0.0031,0.0040,0.0061,0.0092,0.0136,...,0.2389,0.2397,0.2406,0.2416,0.2426,0.2436,0.2445,0.2455,0.2466,0.2477

In [65]:
cols_label = np.array(all_data.columns)
cols_label

array(['CASE', 'EPOCH', 't_1', 't_2', 't_3', 't_4', 't_5', 't_6', 't_7',
       't_8', 't_9', 't_10', 't_11', 't_12', 't_13', 't_14', 't_15',
       't_16', 't_17', 't_18', 't_19', 't_20', 't_21', 't_22', 't_23',
       't_24', 't_25', 't_26', 't_27', 't_28', 't_29', 't_30', 't_31',
       't_32', 't_33', 't_34', 't_35', 't_36', 't_37', 't_38', 't_39',
       't_40', 't_41', 't_42', 't_43', 't_44', 't_45', 't_46', 't_47',
       't_48', 't_49', 't_50', 't_51', 't_52', 't_53', 't_54', 't_55',
       't_56', 't_57', 't_58', 't_59', 't_60', 't_61', 't_62', 't_63',
       't_64', 't_65', 't_66', 't_67', 't_68', 't_69', 't_70', 't_71',
       't_72'], dtype=object)